<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ms.hht">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".noui.HHTApplication"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:node="merge"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.customization.Product_Zoom.Activity.ViewImageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.customization.Fabric_Select.order.OrderItemDetailList"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.profile.PrivacyPolicy"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.profile.FAQActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.customization.Fabric_Select.order.CartProdDesc"
            android:exported="true" />
        <activity
            android:name=".ui.Product_Pieces.Activity.ProductPieceSelecton"
            android:exported="true" />
        <activity
            android:name=".ui.customization.Fabric_Select.Activity.FabricListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.measure.MeasurementDetailListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.EditProfile"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.home.HomeScreen"
            android:exported="true"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.ms.hht.ui.SplashAct"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.profile.ContactUs"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.login.GeneratePasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.VerifyEmailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.measure.MeasurementHistoryAct"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.customization.CustomizationProcess.Activity.CustomizationAct"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:node="merge" />
        <activity
            android:name=".ui.login.ForgotPassAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.Sub_Category.SubCategoryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customization.Fabric_Select.order.SelectReorderItemAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.payment.PaymentAct"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <!--                <action android:name="android.intent.action.VIEW" />-->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--                <data android:scheme="${applicationId}.braintree" />-->
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.measure.DemoVideo"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.measure.PoseGuidelines"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.measure.EnterDetails"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.measure.MeasureNow"
            android:exported="true"
            tools:ignore="AppLinkUrlError"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <tools:validation testUrl="https://hhcustomtailor.com/measurement" />
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="hhcustomtailor.com"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.customization.Fabric_Select.order.OrderCartAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customization.Fabric_Select.order.CartDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customization.Fabric_Select.order.OrderDetailsAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ChangePassword"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.AddressListAct"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customization.Fabric_Select.order.OrderList"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:node="merge" />
        <activity
            android:name=".ui.profile.AddAddress"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.customization.Fabric_Select.order.ReorderSelectedItemsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.description.ProductDescAct"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

    <!--    // password: hhtailor-->
    <!--    key0-->

</manifest>